<?xml version="1.0"?>
<launch>


	<!-- roslaunch arguments -->
	<arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
	<arg name="launch_rviz" default="false"/>
	<arg name="world" default="$(find summit_xl_webots)/worlds/sample_world.wbt"/>
	<!-- located in summit_xl_webots/worlds -->
	<arg name="file_rviz" default="summitxl_a"/>

    <arg name="id_robot" default="summit_xl"/>
    <arg name="prefix" default="$(arg id_robot)_"/>

    <arg name="xacro_robot_package" default="summit_xl_description"/>
    <arg name="xacro_robot" default="summit_xl_base.urdf.xacro"/>
    <arg name="xacro_robot_path" default="$(eval find(xacro_robot_package) + '/robots/' + xacro_robot)"/>

    <arg name="launch_move_base" default="false"/>
    <arg name="launch_gmapping" default="false"/>

    <!-- GPS default position of Robotnik at Fuente del Jarro-->
	<arg name="gps_latitude" default="39.5080331"/>
	<arg name="gps_longitude" default="-0.4619816"/>
	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description" command="$(find xacro)/xacro '$(arg xacro_robot_path)'
		prefix:=$(arg prefix)
		ros_planar_move_plugin:=false
		omni_wheels:=false
		gps_latitude:='$(arg gps_latitude)'
		gps_longitude:='$(arg gps_longitude)'
		gpu:=false
		--inorder"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="joint_states" />
	</node>

	<rosparam file="$(find summit_xl_webots)/control/robot.yaml" command="load" subst_value="true"/>
	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
		/robotnik_base_control
		">
	</node>

	<!-- move base -->
	<include if="$(arg launch_move_base)" file="$(find summit_xl_navigation)/launch/move_base.launch">
            <arg name="prefix" value="$(arg prefix)"/>
            <arg name="local_planner" value="$(arg movebase_local_planner)"/>
            <arg if="$(arg omni_drive)" name="differential_robot" value="false"/>
            <arg unless="$(arg omni_drive)" name="differential_robot" value="true"/>
	</include>

	<!-- Start gmapping -->
	<include if="$(arg launch_gmapping)" file="$(find summit_xl_localization)/launch/slam_gmapping.launch">
            <arg name="prefix" value="$(arg prefix)"/>
            <arg name="scan_topic" value="summit_xl_front_laser_sensor/laser_scan"/>
	</include>

	<!-- Start Webots -->
	<include file="$(find webots_ros)/launch/webots.launch">
		<arg name="mode" value="realtime"/>
		<arg name="no_gui" value="$(arg no_gui)"/>
		<arg name="world" value="$(arg world)"/>
	</include>

	<!-- launch rviz -->
	<node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find summit_xl_webots)/rviz/$(arg file_rviz).rviz"/>
</launch>
